* {margin:0; padding:0;}

html {scroll-behavior:smooth;}


body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
   list-style-type: none;
   background-color: rgb(0, 173, 173);
   padding: 0px;
   margin: 0px;
   overflow: hidden;
    top: 0;
    position: sticky;
}

.navbar a{
    color: rgb(28, 83, 132);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:aquamarine ;
}


